<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <TestForm.Properties.Settings>
            <setting name="Quality" serializeAs="String">
                <value>53</value>
            </setting>
            <setting name="QualityLocked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImagesFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LSBMethodSelected" serializeAs="String">
                <value>False</value>
            </setting>
        </TestForm.Properties.Settings>
    </userSettings>
</configuration>